<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../../assets/css/bootstrap-icons.css">
  <link rel="stylesheet" href="../../../../assets/css/swipe.css" />
  <link rel="stylesheet" href="../../../../assets/css/manual.css" />

  <script src="../../../../assets/js/vue.min.js"></script>
  <title>Manual-Next</title>
</head>

<body>
  <div id="app">

    <div id="header-app">
      <!-- header -->
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="bi bi-house-door-fill"></i></a>
            <button ref="navbarToggleButton" class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div ref="navbarToggle" class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Safety instructions 
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 0, 0)">IMPORTANT SAFETY INSTRUCTIONS</a></li>
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 0, 1);">General safety</a></li>
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 0, 2);">Microwave operation precautions</a></li>
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 0, 3);">Limited warranty</a></li>
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 0, 4);">Product group definition</a></li>
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 0, 5);">Correct Disposal of This Product</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Installation
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 1, 0);">What’s included</a></li>
                    <li><a class="dropdown-item" @click.prevent="goElement($event, 1, 1);">Installation instructions</a></li>
                  </ul>
                </li>
              </ul>
            </div>            
          </div>
          <div class="container-fluid">
            <div class="input-group">
              <input @input="search" v-model="searchKeyword" class="form-control" type="search" placeholder="Search">
              <button :disabled="!searchKeyword.length || searchKeyword.length < 2" @click="search" class="btn btn-outline-success">Search</button>
            </div>
          </div>
        </nav>
      </header>
      <!--/header -->

      <!-- search list -->
      <div v-if="resultShow">
        <div v-if="searchResultIndex.length" class="search-result-index-subject">
          Index result
        </div>
        <ul v-if="searchResultIndex.length" class="search-result-index">
          <li v-for="item in searchResultIndex" class="search-item">
            <span>
              <a href="#" @click.prevent="goElement($event, item.sectionIndex, item.articleIndex)">
                <p class="search-article" v-html="item.article"></p>
              </a>
            </span>
          </li>
        </ul>
        <ul class="search-result">
          <li v-for="item in searchResult" class="search-item">
            <span :class="item.spanClass">
              <p v-if="item.sectionYn" class="search-section">{{ item.section }}</p>
              <a href="#" @click.prevent="goElement($event, item.sectionIndex, item.articleIndex)">
                <p class="search-article">{{ item.article }}</p>
                <p class="search-text" v-html="item.text"></p>
              </a>
            </span>
          </li>
        </ul>
      </div>
      <!--/search list -->
    </div>

    <div id="body-app">
      <!-- manual contents -->
      <div class="container">
        <span id="top"></span>
        <span id="contents-1" class="shap-target"></span>

        <div id="slider-prev" class="slider-center-left"><i class="bi bi-chevron-left"></i></div>
        <div id="slider-next" class="slider-center-right"><i class="bi bi-chevron-right"></i></div>

        <div id="slider-container" class="swipe">
          <div class="swipe-wrap">

            <section>
              <h2><img src="images/title_icon.png"> Safety instructions</h2>

              <article>
                <h4 id="contents-1-1" class="shap-target">IMPORTANT SAFETY INSTRUCTIONS</h4>

                <p><b>READ CAREFULLY AND KEEP FOR FUTURE REFERENCE.</b></p>
                <p><b>WARNING</b>: If the door or door seals are damaged, the oven must not be operated until it has
                  been repaired by a competent person.</p>
                <p>
                  <b class="bbb2">WARNING</b>: It is hazardous for anyone other than a competent person to carry
                  out any service or repair operation that
                  involves the removal of a cover which gives protection against exposure to microwave energy.
                </p>
                <p><b class="bbb2">WARNING</b>: Liquids and other foods must not be heated in sealed containers
                  since they are liable to explode.</p>
                <p>
                  <b class="bbb2">WARNING</b>: Only allow children to use the oven without supervision when
                  adequate instructions have been given so that the child is able to use the oven
                  in a safe way and understands the hazards of improper use.
                </p>

                <p>This appliance is intended to be used in household only and it is not intended to be used such
                  as:</p>
                <ul class="indent">
                  <li>staff kitchen areas in shops, offices and other working environments;</li>
                  <li>farm houses;</li>
                  <li>by clients in hotels, motels and other residential environments;</li>
                  <li>bed and breakfast type environments.</li>
                </ul>

                <p>Only use utensils that are suitable for use in microwave ovens.</p>
                <p>When heating food in plastic or paper containers, keep an eye on the oven due to the possibility
                  of ignition.</p>
                <p>
                  The microwave oven is intended for heating food and beverages. Drying of food or clothing and
                  heating of warming pads,
                  slippers, sponges, damp cloth and similar may lead to risk of injury, ignition or fire.
                </p>
                <p>If smoke is observed (emitted), switch off or unplug the appliance and keep the door closed in
                  order to stifle any flames.</p>
                <p>Microwave heating of beverages can result in delayed eruptive boiling, therefore care must be
                  taken when handling the container.</p>
                <p>The contents of feeding bottles and baby food jars shall be stirred or shaken and the temperature
                  checked before consumption, in order to avoid burns.</p>
                <p>Eggs in their shell and whole hard-boiled eggs should not be heated in microwave ovens since they
                  may explode, even after microwave heating has ended.</p>
                <p>The oven should be cleaned regularly and any food deposits removed.</p>
                <p>Failure to maintain the oven in a clean condition could lead to deterioration of the surface that
                  could adversely affect the life of the appliance and possibly result in a hazardous situation.
                </p>
                <p>The appliance is intended to be used built-in only. The appliance shall not be placed in a
                  cabinet.</p>
                <p>Metallic containers for food and beverages are not allowed during microwave cooking.</p>
                <p>The care should be taken not to displace the turntable when removing containers from the
                  appliance. (Turntable models only)</p>
                <p>The appliance shall not be cleaned with a steam cleaner.</p>
                <p>The appliance should not be cleaned with a water jet.</p>
                <p>The appliance is not intended for installing in road vehicles, caravans and similar vehicles etc.
                </p>
                <p>
                  This appliance is not intended for use by persons (including children) with reduced physical,
                  sensory or mental capabilities, or lack of experience and knowledge,
                  unless they have been given supervision or instruction concerning use of the appliance by a
                  person responsible for their safety.
                </p>
                <p>Children should be supervised to ensure that they do not play with the appliance.</p>
                <p>
                  This appliance can be used by children aged from 8 years and above and persons with reduced
                  physical, sensory or mental capabilities or lack of experience and knowledge
                  if they have been given supervision or instruction concerning use of the appliance in a safe way
                  and understand the hazards involved. Children shall not play with the appliance.
                  Cleaning and user maintenance shall not be made by children without supervision.
                </p>
                <p>
                  This Appliance should be allowed to disconnection from the supply after installation. The
                  disconnection may be achieved by having the plug accessible or by incorporating
                  a switch in the fied wiring in accordance with the wiring rules.
                </p>
                <p>If supply cord without plug is installed on the appliance, the means for disconnection must be
                  incorporated in the fixed wiring in accordance with the wiring rules.</p>
                <p>If the supply cord is damaged, it must be replaced by the manufacturer, its service agent or
                  similarly qualified persons in order to avoid a hazard.</p>
                <p>The method of fixing stated is not to depend on the use of adhesives since they are not
                  considered to be a reliable fixing means.</p>
                <p>This oven should be positioned proper direction and height permitting easy access to cavity and
                  control area.</p>
                <p>Before using the your oven first time, oven should be operated with the water during 10 minute
                  and then used.</p>
                <p>If the oven generates a strange noise, a burning smell, or smoke is emitted, unplug the power
                  plug immediately and contact your nearest service center.</p>

                <p><b class="bbb2">WARNING</b>: When the appliance is operated in the combination mode, children
                  should only use the oven under adult supervision due to the temperatures generated.</p>

                <p>During use the appliance becomes hot. Care should be taken to avoid touching heating elements
                  inside the oven.</p>
                <p>If this appliance has cleaning function, during cleaning conditions, the surfaces may get hotter
                  than usual and children should be kept away. The cleaning function depends on the model.</p>

                <p><b class="bbb2">WARNING</b>: Accessible parts may become hot during use. Young children should be
                  kept away.</p>

                <p>Do not use harsh abrasive cleaners or sharp metal scrapers to clean the oven door glass since
                  they can scratch the surface, which may result in shattering of the glass.</p>
                <p>A steam cleaner is not to be used.</p>

                <p><b class="bbb2">WARNING</b>: Ensure that the appliance is switched off before replacing the lamp
                  to avoid the possibility of electric shock.</p>

                <p>The appliance must not be installed behind a decorative door in order to avoid overheating.</p>

                <p><b class="bbb2">WARNING</b>: The appliance and its accessible parts become hot during use.</p>

                <p>Care should be taken to avoid touching heating elements. Children less than 8 years of age shall
                  be kept away unless continuously supervised.</p>

                <p>
                  <b class="bbb2">CAUTION</b>: The cooking process has to be supervised. A short term cooking
                  process has to be supervised continuously.
                  The door or the outer surface may get hot when the appliance is operating.
                </p>

                <p>The temperature of accessible surfaces may be high when the appliance is operating.</p>
                <p>The surfaces are liable to get hot during use.</p>
                <p>The Appliances are not intended to be operated by means of an external timer or separate
                  remote-control system.</p>
                <p>
                  This appliance can be used by children aged from 8 years and above and persons with reduced
                  physical, sensory or mental capabilities or lack of experience and knowledge
                  if they have been given supervision or instruction concerning use of the appliance in a safe way
                  and understand the hazards involved. Children shall not play with the appliance.
                  Cleaning and user maintenance shall not be made by children unless they are older than 8 and
                  supervised.
                </p>
                <p>Keep the appliance and its cord out of reach of children less than 8 years.</p><br />

                <p> <img src="images/img_timer_5-4.png" class="img-fluid center-block img-border" /> </p>
                <p>Please put the bent up frame side to the back, in order to support the restposition when cooking
                  big loads. (Depending on model)</p>
              </article>

              <article>
                <h4 id="contents-1-2" class="shap-target">General safety</h4>

                <p>
                  Any modifications or repairs must be performed by qualified personnel only.<br />Do not heat
                  food or liquids sealed in containers for the microwave function.<br />
                  Do not use benzene, thinner, alcohol, or steam or high-pressure cleaners to clean the
                  oven.<br />Do not install the oven: near a heater or flammable material; locations that are
                  humid, oily, dusty or exposed to direct sunlight or water; or where gas may leak;or an uneven
                  surface.<br />
                  This oven must be properly grounded in accordance with local and national codes.<br />Regularly
                  use a dry cloth to remove foreign substances from the power plug
                  terminals and contacts.<br />Do not pull, excessively bend, or place heavy objects on the power
                  cord.<br />
                  If there is a gas leak (propane, LP, etc) ventilate immediately. Do not touch the power
                  cord.<br /> Do not touch the power cord with wet hands.<br />
                  While the oven is operating, do not turn it off by unplugging the power cord.<br />Do not insert
                  fingers or foreign substances. If foreign substances enter the oven,<br />
                  unplug the power cord and contact a local Samsung service centre.<br />Do not apply excessive
                  pressure or impact to the oven.<br />Do not place the oven over fragile objects.<br />
                  Ensure the power voltage, frequency, and current matches the product specifications.<br />
                  Firmly plug the power plug into the wall socket. Do not use multiple plug adapters, extension
                  cords, or electric transformers.<br />
                  Do not hook the power cord on metal objects. Make sure the cord is between objects or behind the
                  oven.<br />
                  Do not use a damaged power plug, power cord, or loose wall socket. For damaged power plugs or
                  cords, contact a local Samsung service centre.<br />
                  Do not pour or directly spray water onto the oven.<br />Do not place objects on the oven,
                  inside, or on the oven door.<br />
                  Do not spray volatile materials such as insecticide on the oven.<br />
                  Do not store flammable materials in the oven. Because alcohol vapours can contact hot parts of
                  the oven, use caution when heating food or drinks containing alcohol.<br />
                  Children may bump themselves or catch their fingers on the door. When opening/closing the door,
                  keep children away.
                </p><br />

                <p><b>Microwave warning</b></p>
                <p>
                  Microwave heating of beverages may result in delayed eruptive boiling; always use caution when
                  handling the container.
                  Always allow beverages to stand at least 20 seconds before handling. If necessary, stir during
                  heating. Always stir after heating.
                </p>

                <p>In the event of scalding, follow these First Aid instructions:</p>
                <ol class="top-10" start="1">
                  <li>Immerse the scalded area in cold water for at least 10 minutes.</li>
                  <li>Cover with a clean, dry dressing.</li>
                  <li>Do not apply any creams, oils, or lotions.</li>
                </ol>
                <p>To avoid damaging the tray or rack, do not put the tray or rack in water shortly after cooking.
                </p>
                <p>Do not use the oven for deep fat frying because the oil temperature cannot be controlled. This
                  could result in a sudden boil over of hot oils.</p><br />

                <p><b>Microwave oven precautions</b></p>

                <p>
                  Only use microwave-safe utensils. Do not use metallic containers, gold or silver trimmed
                  dinnerware, skewers, etc. <br />Remove wire twist ties. Electric arcing may occur. <br />
                  Do not use the oven to dry papers or clothes. <br />Use shorter times for small amounts of food
                  to prevent overheating or burning. <br />
                  Keep the power cord and power plug away from water and heat sources. <br />To avoid the risk of
                  explosion, do not heat eggs with shells or hard-boiled eggs.
                  Do not heat airtight or vacuum-sealed containers, nuts, tomatoes, etc. <br />Do not cover the
                  ventilation slots with cloth or paper. This is a fire hazard.
                  The oven may overheat and turn off automatically and will remain off until it cools
                  sufficiently. <br />Always use oven mitts when removing a dish. <br />
                  Stir liquids halfway during heating or after heating ends and allow the liquid stand at least 20
                  seconds after heating to prevent eruptive boiling. <br />
                  Stand at arms length from the oven when opening the door to avoid getting scalded by escaping
                  hot air or steam. <br />
                  Do not operate the oven when it is empty. The oven will automatically shut down for 30 minutes
                  for safety purposes.
                  We recommend placing a glass of water inside the oven at all times to absorb microwave energy in
                  case the oven is started accidentally.<br />
                  Install the oven in compliance with the clearances in this manual. (See Installing your
                  microwave oven.) <br />
                  Use caution when connecting other electrical appliances to sockets near the oven.
                </p><br />
              </article>

              <article>
                <h4 id="contents-1-3" class="shap-target">Microwave operation precautions</h4>
                <p>Failure to observe the following safety precautions may result in harmful exposure to microwave
                  energy.</p>

                <ul class="indent">
                  <li>Do not operate the oven with the door open. Do not tamper with the safety interlocks (door
                    latches). Do not insert anything into the safety interlock holes.</li>
                  <li>
                    Do not place any object between the oven door and front face or allow food or cleaner
                    residue to accumulate on sealing surfaces. Keep the door and door
                    sealing surfaces clean by wiping with a damp cloth and then with a soft, dry cloth after
                    each use.
                  </li>
                  <li>
                    Do not operate the oven if it is damaged. Only operate after it has been repaired by a
                    qualified technician. <b class="bbb2">Important</b>: the oven door must close properly.
                    The door must not be bent; the door hinges must not be broken or loose; the door seals and
                    sealing surfaces must not be damaged.
                  </li>
                  <li>All adjustments or repairs must be done by a qualified technician.</li>
                </ul><br />
              </article>

              <article>
                <h4 id="contents-1-4" class="shap-target">Limited warranty</h4>
                <p>Samsung will charge a repair fee for replacing an accessory or repairing a cosmetic defect if the
                  damage to the unit or accessory was caused by the customer. Items this stipulation covers
                  include:</p>

                <ul class="indent">
                  <li>Door, handles, out-panel, or control panel that are dented, scratched, or broken.</li>
                  <li>A broken or missing tray, guide roller, coupler, or wire rack.</li>
                </ul>

                <p>
                  Use this oven only for its intended purpose as described in this instruction
                  manual.<br />Warnings and Important Safety Instructions in this manual do not cover all
                  possible conditions and situations that may occur. It is your responsibility to use common
                  sense, caution, and care when installing, maintaining, and operating your oven.<br />
                  Because these following operating instructions cover various models, the characteristics of your
                  microwave oven may differ slightly from those described in
                  this manual and not all warning signs may be applicable. If you have any questions or concerns,
                  contact a local Samsung service centre or find help and information
                  online at www.samsung.com.<br />Use this oven for heating food only. It is intended for domestic
                  use only. Do not heat any type of textiles or cushions filled with grains.
                  The manufacturer cannot be held liable for damage caused by improper or incorrect use of the
                  oven.<br />To avoid deterioration of the oven surface and hazardous situations,
                  always keep the oven clean and well maintained.
                </p><br />
              </article>

              <article>
                <h4 id="contents-1-5" class="shap-target">Product group definition</h4>
                <p>
                  This product is a Group 2 Class B ISM equipment. The definition of group 2 which contains all
                  ISM equipment in which radio-frequency energy is intentionally
                  generated and/or used in the form of electromagnetic radiation for the treatment of material,
                  and EDM and arc welding equipment. <br />
                  For Class B equipment is equipment suitable for use in domestic establishments and in
                  establishments directly connected to a low voltage power supply network
                  which supplies buildings used for domestic purposes.
                </p><br />
              </article>

              <article>
                <h4 id="contents-1-6" class="shap-target">Correct Disposal of This Product (Waste Electrical &
                  Electronic Equipment)</h4>
                <table class="table table-noline">
                  <tbody>
                    <tr>
                      <th width="20%"> <img src="images/img_02_04_01.png" width="100" height="100" /></th>
                      <td>
                        <b class="bbb2">Applicable in countries with separate collection systems)</b>
                        <p>
                          This marking on the product, accessories or literature indicates that the
                          product and its electronic accessories
                          (e.g. charger, headset, USB cable) should not be disposed of with other
                          household waste at the end of their working life.
                          To prevent possible harm to the environment or human health from uncontrolled
                          waste disposal,
                          please separate these items from other types of waste and recycle them
                          responsibly to promote the sustainable reuse of material resources.
                        </p>
                        <p>
                          Household users should contact either the retailer where they purchased this
                          product, or their local government office,
                          for details of where and how they can take these items for environmentally safe
                          recycling.
                          Business users should contact their supplier and check the terms and conditions
                          of the purchase contract.
                          This product and its electronic accessories should not be mixed with other
                          commercial wastes for disposal.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>For information on Samsung’s environmental commitments and product-specific regulatory
                  obligations, e.g. REACH, WEEE, Batteries, visit :<a
                    href="http://www.samsung.com/uk/aboutsamsung/sustainability/environment/ourcommitment/data/">www.samsung.com/uk/aboutsamsung/<br />sustainability/environment/ourcommitment/data/</a>
                </p>
              </article>
            </section>

            <section>
              <h2><img src="images/title_icon.png"> Installation</h2>

              <article>
                <h4 id="contents-2-1" class="shap-target">What’s included</h4>
                <p>Make sure all parts and accessories are included in the product package. If you have a problem
                  with the oven or accessories, contact a local Samsung customer centre or the retailer.</p><br />

                <p><b>Oven at a glance</b></p>

                <p> <img src="images/img_oven at glance.png" class="img-fluid center-block img-border" /> </p>

                <table class="table table-bordered table-default">
                  <tbody>
                    <tr>
                      <th><span class="circle">01</span></th>
                      <td>Control panel</td>
                    </tr>

                    <tr>
                      <th><span class="circle">02</span></th>
                      <td>Side racks</td>
                    </tr>

                    <tr>
                      <th><span class="circle">03</span></th>
                      <td>Safety door lock</td>
                    </tr>

                    <tr>
                      <th><span class="circle">04</span></th>
                      <td>Door</td>
                    </tr>

                    <tr>
                      <th><span class="circle">05</span></th>
                      <td>Door Handle</td>
                    </tr>
                  </tbody>
                </table><br />

                <p><b>Accessories</b></p>
                <p>The oven comes with different accessories that help you prepare different types of food.</p>

                <table class="table table-noline table-icon">
                  <tbody align="center">
                    <tr>
                      <td><img src="images/img_04_01_03.png" class="img-fluid img-border2 center-block" /></td>
                      <td><img src="images/img_04_01_03.png" class="img-fluid img-border2 center-block" /></td>
                    </tr>
                    <tr>
                      <td>Ceramic tray (Useful for microwave mode.)</td>
                      <td>Baking tray (Do not use for microwave mode.)</td>
                    </tr>

                    <tr>
                      <td><img src="images/img_04_01_03.png" class="img-fluid img-border2 center-block" /></td>
                      <td><img src="images/img_04_01_03.png" class="img-fluid img-border2 center-block" /></td>
                    </tr>
                    <tr>
                      <td>Ceramic tray (Useful for microwave mode.)</td>
                      <td>Baking tray (Do not use for microwave mode.)</td>
                    </tr>

                    <tr>
                      <td><img src="images/img_04_01_03.png" class="img-fluid img-border2 center-block" /></td>
                      <td><img src="images/img_04_01_03.png" class="img-fluid img-border2 center-block" /></td>
                    </tr>
                    <tr>
                      <td>Ceramic tray (Useful for microwave mode.)</td>
                      <td>Baking tray (Do not use for microwave mode.)</td>
                    </tr>

                  </tbody>
                </table>

                <h4 class="info"> <img src="images/reference_icon.png" width="30"> NOTE </h4>
                <p>See the <b>Cooking Smart</b> on page <b>31-40</b> to determine the appropriate accessory for your
                  dishes.</p><br />

              </article>

              <article>
                <h4 id="contents-2-2" class="shap-target">Installation instructions</h4><br />

                <p><b>General Technical Information</b></p>

                <table class="table table-bordered table-default table-center">
                  <tbody>
                    <tr>
                      <th>Electrical Supply</th>
                      <td colspan="2">230 V ~ 50 Hz</td>
                    </tr>

                    <tr>
                      <th rowspan="2">Dimensions<br />(W × H × D)</th>
                      <td>Set size</td>
                      <td>595 x 456 x 570 mm</td>
                    </tr>

                    <tr>
                      <td>Built in size</td>
                      <td>560 x 446 x 549 mm</td>
                    </tr>
                  </tbody>
                </table>
                <p>This appliance complies with EU regulations.</p><br />

                <p><b>Disposal of Packaging and Appliance</b></p>
                <p>Packaging is recyclable.<br />Packaging may consist of the following materials:</p>

                <ul class="indent">
                  <li>cardboard;</li>
                  <li>polyethylene film (PE);</li>
                  <li>CFC-free polystyrene(PS rigid foam).</li>
                </ul>

                <p>Please dispose of these materials in a responsible manner in accordance with government
                  regulations.</p>
                <p>The authorities can provide information on how to dispose of domestic appliances in a responsible
                  manner.</p><br />

                <p><b>Safety</b></p>

                <ul class="indent">
                  <li>This appliance should only be connected by a qualified technician.</li>
                  <li>The Oven is NOT designed for use in a commercial cooking setting.</li>
                  <li>It should be used exclusively for cooking food in a home setting.</li>
                  <li>The appliance is hot during and after use.</li>
                  <li>Exercise caution when young children are present.</li>
                </ul><br />

                <p><b>Electrical Connection</b></p>
                <p>The house mains to which the appliance is connected should comply with national and local
                  regulations.<br />Appliance should allow to disconnection of the appliance from the supply after
                  installation. The disconnection may be achieved by having the plug accessible or by
                  incorporating a switch in the fixed wiring in accordance with the wiring rules.</p><br />

                <p><b>Install in the Cabinet</b></p>
                <p>Kitchen Cabinets in contact with the oven must be heatresistant up to 100 °C. Samsung will take
                  no responsibility for damage of cabinets from the heat.</p><br />

                <p><b>Required Dimensions for installation (This product is dedicated to built-in products.)</b></p>
                <p><img src="images/img_builtin install_1-1.png" class="img-fluid center-block img-border" />
                </p>
                <p>Oven (mm)</p>
                <table class="table table-bordered table-default">
                  <tbody>
                    <tr>
                      <th><span class="circle">A</span></th>
                      <td>560</td>
                    </tr>

                    <tr>
                      <th><span class="circle">B</span></th>
                      <td>446</td>
                    </tr>

                    <tr>
                      <th><span class="circle">C</span></th>
                      <td>549</td>
                    </tr>

                    <tr>
                      <th><span class="circle">D</span></th>
                      <td>21</td>
                    </tr>

                    <tr>
                      <th><span class="circle">E</span></th>
                      <td>341</td>
                    </tr>

                    <tr>
                      <th><span class="circle">F</span></th>
                      <td>595</td>
                    </tr>

                    <tr>
                      <th><span class="circle">G</span></th>
                      <td>361</td>
                    </tr>

                    <tr>
                      <th><span class="circle">H</span></th>
                      <td>85</td>
                    </tr>

                    <tr>
                      <th><span class="circle">I</span></th>
                      <td>456</td>
                    </tr>
                  </tbody>
                </table><br />

                <p><b>Mounting the oven</b></p>

                <p><img src="images/img_builtin install_1-7.png" class="img-fluid center-block img-border" />
                </p>
                <ol class="top-10" start="1">
                  <li>Slide the oven partly into the recess. Lead the connection cable to the power source.</li>
                </ol><br />

                <p><img src="images/img_builtin install_1-7.png" class="img-fluid center-block img-border" />
                </p>
                <ol class="top-10" start="2">
                  <li>Slide the oven partly into the recess. Lead the connection cable to the power source.</li>
                </ol>
              </article>
            </section>

          </div>
        </div>
      </div>
      <!--/manual contents -->
    </div>
  </div>

  <script src="../../../../assets/js/bootstrap.min.js"></script>
  <script src="../../../../assets/js/swipe.js"></script>
  <script src="../../../../assets/js/manual.js"></script>
</body>

</html>